name: My CI/CD pipeline in GitHub Actions

on:
  push:
   branches: main

jobs:
  build:
   runs-on: ubuntu-latest

   steps:
     - name: Checkout Repo
       uses: actions/checkout@v4

     - name: My First App
       run: |
        echo "This is a DevOps Course"
        uname -a
          
